$border-radius-container: 20px;
$border-radius-input: 10px;

.container-tutorial {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    h4 {
        font-size: 2.25rem;
        text-align: center;
        margin: 0;
    }


    .container-tutorial__wrapper-selects {
        display: flex;
        justify-content: center;
        gap: 4rem;

        .wrapper-selects__select-pages,
        .wrapper-selects__select-parts {
            font-size: 1rem;
            font-weight: bold;
            width: 18rem;
            height: 2.35rem;
            border-radius: $border-radius-input;
        }

    }

    .container-tutorial__container-words {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: space-around;


        .container-tutorial__wrapper-word {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 26rem;
            height: 26rem;
            border-radius: $border-radius-container;

            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            box-shadow: 1rem 1rem 0.4rem #373c3bbd;

            .wrapper-word__container-word {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                gap: 1rem;
                border: 1px solid;
                border-radius: $border-radius-container;
                height: 22rem;
                width: 22rem;
                padding: 1rem;

                background: rgba(255, 255, 255, 0.5);
                overflow: overlay;

                &::-webkit-scrollbar-track {
                    border-radius: 4px;
                }

                &::-webkit-scrollbar {
                    width: 6px;
                }

                &::-webkit-scrollbar-thumb {
                    border-radius: 4px;
                    background: #f0f2f5;
                }

                &:hover::-webkit-scrollbar-thumb {
                    background: #6a7d9b;
                }

                span {
                    width: fit-content;
                    text-align: end;
                }

                h5 {
                    font-size: 2.25rem;
                    transition: .4s;
                    margin: 1rem 0;

                    display: flex;
                    align-items: center;
                    gap: 0.5rem;

                    &::after {
                        content: '';
                        background-image: url(../../assets/svg/tutorial/sound.svg);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        width: 2rem;
                        height: 1.5rem;
                        cursor: pointer;
                    }

                    &:active {
                        transform: scale(.8);
                    }
                }

                .container-word__translate-transcription {
                    font-size: 1.5rem;
                }

                .container-word__text-meaning,
                .container-word__text-example {
                    position: relative;
                    font-size: 1.5rem;
                    transition: .4s;

                    align-items: center;
                    gap: 0.5rem;
                    align-self: stretch;
                    width: 85%;
                    padding: 0 0rem 0 3rem;

                    &::after {
                        position: absolute;
                        left: 0;
                        top: 0;
                        /* bottom: 0; */
                        content: " ";
                        background: url(../../assets/svg/tutorial/sound.svg);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: contain;
                        width: 2rem;
                        height: 2rem;
                        cursor: pointer;
                    }

                    &:active {
                        transform: scale(.8);
                    }
                }

                .container-word__text-meaning-translate {
                    font-size: 1rem;


                }

                // .container-word__text-example {
                //     font-size: 1.5rem;
                // }

                .container-word__text-example-translate {
                    font-size: 1rem;
                }

            }
        }
    }

    .container-tutorial__container-buttons {
        display: flex;
        justify-content: center;
        gap: 1.5rem;


        .container-buttons__home,
        .container-buttons__game-audio-call,
        .container-buttons__game-sprint {
            background-color: rgba(255, 255, 255, 0.6);
            background-position: center;
            background-repeat: no-repeat;
            border: 1px solid #000000;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 20px;
            width: 4rem;
            height: 4rem;
            cursor: pointer;
            transition: .4s;

            &:active {
                transform: scale(.8);
            }
        }

        .container-buttons__home {
            background-image: url(../../assets/svg/tutorial/home.svg);
        }

        .container-buttons__game-audio-call {
            background-image: url(../../assets/svg/tutorial/sound_button.svg);
        }

        .container-buttons__game-sprint {
            background-image: url(../../assets/svg/tutorial/rocket.svg);
        }


    }
}