$border-radius-container: 20px;
$border-radius-input: 10px;
$background-word-container: white;
$border-color-buttons-game: rgba(53, 200, 147, 1);
@import '../../utils/scss/mixin.scss';
@import '../../utils/scss/constants.scss';

.container-tutorial {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    h4 {
        @include font(2.4rem, 400);
        text-align: center;
        margin: 0;
    }


    .container-tutorial__wrapper-selects {
        display: flex;
        justify-content: center;
        gap: 4rem;

        .wrapper-selects__select-pages,
        .wrapper-selects__select-parts {
            font-size: 1rem;
            font-weight: bold;
            width: 18rem;
            height: 2.35rem;
            border-radius: $border-radius-input;
            border: 2px rgba(245, 68, 59, 1) solid;
        }

    }

    .container-tutorial__container-words {
        display: flex;
        flex-wrap: wrap;
        gap: 4rem;
        justify-content: space-around;
        margin: 0 5rem ;


        .container-tutorial__wrapper-word {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 32rem;
            height: 35rem;
            border-radius: $border-radius-container;
            overflow: hidden;


            box-shadow: 1rem 1rem 0.4rem #373c3bbd;

            flex-direction: column;
            justify-content: space-between;

            .wrapper-word__container-img {
                flex: 1;
                width: 100%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }

            .wrapper-word__container-word {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                gap: 1rem;
                height: 22rem;
                width: 100%;
                padding: 1rem;

                background: $background-word-container;
                overflow: overlay;

                flex-basis: 60%;

                &::-webkit-scrollbar-track {
                    border-radius: 4px;
                }

                &::-webkit-scrollbar {
                    width: 6px;
                }

                &::-webkit-scrollbar-thumb {
                    border-radius: 4px;
                    background: #f0f2f5;
                }

                &:hover::-webkit-scrollbar-thumb {
                    background: #6a7d9b;
                }

                span {
                    width: fit-content;
                    text-align: end;
                }

                h5 {
                    font-size: 2.25rem;
                    transition: .4s;
                    margin: 0;

                    display: flex;
                    align-items: center;
                    gap: 0.5rem;

                    &::after {
                        content: '';
                        background-image: url(../../assets/svg/tutorial/sound.svg);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        width: 2rem;
                        height: 1.5rem;
                        cursor: pointer;
                    }

                    &:active {
                        transform: scale(.8);
                    }
                }

                .container-word__translate-transcription {
                    font-size: 1.5rem;
                }

                .container-word__text-meaning,
                .container-word__text-example {
                    position: relative;
                    font-size: 1.5rem;
                    transition: .4s;

                    align-items: center;
                    gap: 0.5rem;
                  
                }

                .container-word__text-meaning-translate {
                    font-size: 1rem;

                    &::after {
                        content: " ";
                        display: block;
                        height: 2px;
                        background-color: black;
                            margin: 1rem 0 0 0;
                    }

                }

         
                .container-word__text-example-translate {
                    font-size: 1rem;
                }

            }
        }
    }

    .container-tutorial__container-buttons {
        display: flex;
        justify-content: center;
        gap: 1.5rem;


        .container-buttons__home,
        .container-buttons__game-audio-call,
        .container-buttons__game-sprint {
            background-color: rgba(255, 255, 255, 0.6);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border: 1px solid $border-color-buttons-game;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 10px;
            width: 4rem;
            height: 4rem;
            cursor: pointer;
            transition: .4s;

            &:active {
                transform: scale(.8);
            }
        }

        .container-buttons__home {
            background-image: url(../../assets/svg/tutorial/home.svg);
        }

        .container-buttons__game-audio-call {
            background-image: url(../../assets/svg/tutorial/sound_button.svg);
        }

        .container-buttons__game-sprint {
            background-image: url(../../assets/svg/tutorial/rocket.svg);
        }


    }
}