$backroundHeart: url(../../assets/svg/game-audio-call/Heart.svg);
$backroundFullHeart: url(../../assets/svg/game-audio-call/Heart-full.svg);

.container-game-audio-call {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    list-style: none;

    .container-game-audio-call__wrapper-voice-lives-lang {
        display: flex;
        gap: 1.4rem;
        align-items: center;
        font-size: 1.7rem;
        font-weight: 700;

        &::before {
            content: ' ';
            background-image: url(../../assets/svg/game-audio-call/voice.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 2.8rem;
            height: 3rem;
            cursor: pointer;
        }

        .container-game-audio-call__wrapper-step-game {
            display: flex;
            align-items: center;
            border: none;

            .wrapper-step-game__step-game {
                background-image: $backroundHeart;
                display: block;
                // mask-image: url(../../assets/svg/game-audio-call/Heart.svg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                width: 2.5rem;
                height: 2.5rem;


                &.active-step {
                    display: block;
                    // mask-image: url(../../assets/svg/game-audio-call/Heart.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                    width: 2.5rem;
                    height: 2.5rem;
                    background-image: $backroundFullHeart;

                }
            }

        }

        .wrapper-voice-lives-lang__langs {
            display: flex;
            list-style: none;
            gap: .3rem;

            .langs__en,
            .langs__ru {
                cursor: pointer;

                &.active {
                    color: red;
                }
            }

            .langs__slash {}

            .langs__ru {}
        }
    }

    .container-game-audio-call__wrapper-call-voice {
        position: relative;
        width: 12rem;
        height: 9rem;

        cursor: pointer;

        &:active {}



        // &:hover .back {
        //     transform: rotateY(360deg)
        // }

        .container-game-audio-call__button-call-voice,
        .container-game-audio-call__button-call-voice__back {
            width: 100%;
            height: 100%;

            left: 0;
            top: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 1s;
            backface-visibility: hidden;
            background-color: #fff;
            background-image: url(../../assets/svg/game-audio-call/voice.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            display: flex;

            // &:active {
            //     transform: rotateY(180deg)
            // }
            &.front__flip {
                transform: rotateY(180deg)
            }

            &.back__flip {
                transform: rotateY(360deg)
            }

        }

        .container-game-audio-call__button-call-voice__back {
            background-image: url(https://base-rs-lang-1.herokuapp.com/files/03_1260.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            display: flex;
            align-items: flex-end;
            width: 100%;
            height: 100%;
            transform: rotateY(180deg);
            border-radius: 2rem;
            // width: 12rem;
            // height: 9rem;
            // border-radius: 1rem;

            // &:active {
            //     transform: rotateY(180deg)
            // }

            .button-call-voice__back__word-translate {
                background-color: #3a3836bd;
                    color: whitesmoke;
                    border-radius: 1rem;
                    padding: 0.1rem;
            }

        }

        .container-game-audio-call__button-call-voice {
            position: absolute;
        }


    }


    .container-game-audio-call__wrapper-words {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        column-gap: 6rem;
        row-gap: 2rem;
        border: none;

        .wrapper-words__word,
        .wrapper-words__dont-know {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border: 1px rgba(245, 68, 59, 1) solid;
            border-radius: 6px;
            min-width: 7.8rem;
            height: 3.2rem;
            cursor: pointer;
            transition: .4s;
            word-break: break-all;
            padding: 0.5rem;

            &:active {
                transform: scale(.9);
            }

        }

        .correct-word {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            // position: relative;

            &::before {
                content: '';
                // position: absolute;
                width: 1rem;
                height: 1rem;
                background-color: #44B9B9;
                background-image: url(../../assets/svg/game-audio-call/birds.svg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                border-radius: 5rem;
                display: flex;
                // left: 0;
                // top:0;

            }
        }

        .wrapper-words__dont-know {
            flex-basis: 40%;
            background-color: rgba(245, 68, 59, 1);
        }

    }
}