@import "../../utils/scss/constants.scss";
@import "../../utils/scss/mixin.scss";

body {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: local;
}

.container-game-audio-call {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  list-style: none;
  color: $colorWhite;

  .container-game-audio-call__wrapper-voice-lives-lang {
    @include flex();
    @include font(2rem, 700);
    gap: 1.4rem;
    flex-wrap: wrap;

    .container-game-audio-call__wrapper-step-game {
      display: flex;
      align-items: center;
      border: none;

      .wrapper-step-game__step-game {
        background-image: $backroundHeart;
        display: block;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 2.5rem;
        height: 2.5rem;

        &.active-step {
          display: block;
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          width: 2.5rem;
          height: 2.5rem;
          background-image: $backroundFullHeart;
        }
      }
    }

    .wrapper-voice-lives-lang__langs {
      display: flex;
      list-style: none;
      gap: 0.3rem;
      color: $colorBlack;

      .langs__en,
      .langs__ru {
        @include hover();

        &.active {
          color: red;
        }
      }
    }
  }

  .container-game-audio-call__wrapper-call-voice {
    position: relative;
    width: 50vw;
    height: 40vh;
    @include hover();
    display: flex;
    justify-content: center;

    .container-game-audio-call__button-call-voice,
    .container-game-audio-call__button-call-voice__back {
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      @include flex();
      transition: 1s;
      backface-visibility: hidden;
      background-image: url("../../assets/svg/game-audio-call/voice.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;

      &.front__flip {
        transform: rotateY(180deg);
      }

      &.back__flip {
        transform: rotateY(360deg);
      }
    }

    .container-game-audio-call__button-call-voice__back {
      background-image: url("https://base-rs-lang-1.herokuapp.com/files/03_1260.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      display: flex;
      align-items: flex-end;
      width: 100%;
      height: 100%;
      transform: rotateY(180deg);
      border-radius: 2rem;

      .button-call-voice__back__word-translate {
        background-color: #3a3836bd;
        color: whitesmoke;
        border-radius: 1rem;
        padding: 1rem;

        position: absolute;
        bottom: 25px;
        @include font(2rem, 900);
        text-transform: capitalize;
      }
    }

    .container-game-audio-call__button-call-voice {
      position: absolute;
    }
  }

  .container-game-audio-call__wrapper-words {
    position: relative;
    @include flex();
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 6rem;
    row-gap: 2rem;
    border: none;
    padding: 0 0 10rem 0;

    .wrapper-words__word,
    .wrapper-words__dont-know {
      padding: 1em 2em;
      border-radius: 0.6em;
      background-color: transparent;
      color: $colorBlack;
      border: 2px solid $colorRed;
      @include font(2rem, 900);
      text-transform: capitalize;
      display: flex;
      flex-wrap: wrap;
      @include hover();
      word-break: break-all;

      &:active {
        transform: scale(0.9);
      }
    }

    .wrapper-words__word {
      &:hover {
        box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
        color: $colorRed;
      }
    }

    .wrapper-words__dont-know {
      &:hover {
        box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
      }
    }

    .correct-word {
      display: flex;
      gap: 10px;

      &::before {
        content: "";
        width: 2rem;
        height: 2rem;
        background-image: url("../../assets/svg/game-audio-call/birds.svg");
        background-repeat: no-repeat;
        border-radius: 5rem;
        display: flex;
      }
    }

    .wrapper-words__dont-know {
      position: absolute;
      bottom: 0;
      background-color: rgba(245, 68, 59, 1);
    }
  }
}

.container-result {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 10px;
  font-size: 15px;
  background-color: #fff2f3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $colorBlack;
  padding: 25px 45px;

  .container-result__title {
    @include font(3rem, 600);
    text-align: center;
  }

  .container-result__wrapper-list {
    list-style: none;
    width: 100%;
    max-height: 39rem;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: stretch;
    font-size: 2rem;
    border: 1px solid;
    border-radius: 0.6rem;
    overflow-x: hidden;

    &::-webkit-scrollbar-track {
      border-radius: 4px;
    }

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background: #f0f2f5;
    }

    &:hover::-webkit-scrollbar-thumb {
      background: #e5b6b9;
    }

    .wrapper-list__item {
      position: relative;
      @include flex($justify: space-between);
      gap: 1rem;
      padding: 1rem 6rem;
      @include hover();
      text-align-last: justify;

      .word-ru {
        text-align: right;
        text-align-last: right;
        color: rgba(0, 0, 0, 0.5);
      }

      &:active {
        transform: scale(0.9);
      }
    }

    .correct-answer,
    .uncorrect-answer {
      &::after,
      &::before {
        content: " ";
        background-image: url("../../assets/svg/game-audio-call/results/bird.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        width: 2rem;
        height: 2rem;
        right: 2rem;
        transition: 1s;
      }

      &::before {
        content: " ";
        background-image: url("../../assets/svg/game-audio-call/results/voice.svg");
        left: 2rem;
        @include hover();
        width: 1.5em;
        height: 2em;
      }
    }

    .uncorrect-answer {
      &::after {
        background-image: url(../../assets/svg/game-audio-call/results/cross.svg);
      }
    }
  }

  .container-result__wrapper-buttons {
    display: flex;
    justify-content: center;
    gap: 2rem;
    @include font(2rem, 700);

    .wrapper-buttons__repeat,
    .wrapper-buttons__finish {
      padding: 1em;
      @include font(2rem, 700);
      border: none;
      border-radius: 0.6em;
      background-color: transparent;
      color: $colorRed;
      border: 2px solid $colorRed;

      &:hover {
        @include hover();
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        color: $colorBlack;
      }

      &:active {
        transform: scale(0.9);
      }
    }
  }
}

.preloader {
  /*фиксированное позиционирование*/
  position: fixed;
  /* координаты положения */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* фоновый цвет элемента */
  background: #e0e0e052;
  /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
  z-index: 1001;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: $colorRed;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes preloader-bounce {
  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}
