@import "../../../utils/scss/mixin.scss";

.main-wrapper {
  @include flex();
  gap: 5em;
  flex-wrap: wrap;
  padding: 50px;
}

.main-page__description {
  display: flex;
  flex-direction: column;
  gap: 2.5em;
  max-width: 50em;
}

.description-item {
  @include font(2.4rem, 400);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.main-page-image {
  @media (max-width: 780px) {
    width: 100vw;
    height: 100%;
  }
}

.description-li {
  font-size: 2rem;
  font-weight: 400;
  color: rgb(43, 42, 42);
  font-style: italic;
  margin-left: 20px;
}

.btn_link {
  text-decoration: none;
  background-color: transparent;
    color: $colorRed;
    border: 2px solid $colorRed;
    text-align: center;
    // display: block;
}