@import "../../../utils/scss/mixin.scss";

.main-wrapper {
  @include flex();
  gap: 5em;
  flex-wrap: wrap;
}

.main-page__description {
  display: flex;
  flex-direction: column;
  gap: 2.5em;
  max-width: 50em;
}

.description-item {
  @include font(2.4rem, 400);
}