// Color
$colorYellow: #FFD234;
$colorRed: #F5443B;
$colorWhite: #ffffff;
$colorBlack: #000000;
$colorPink: #fff2f3;
$colorOrange: #F57600;
$colorGrey: #bbbdbe;
$colorDarkGreen: #035959;
$colorLevelBtn1: #ca362f;
$colorLevelBtn2: #f5443b;
$colorLevelBtn3: #f57873;
$colorLevelBtn4: #44b9b9;
$colorLevelBtn5: #079292;
$colorLevelBtn6: #035959;
$colorLevelBtn7: #073d3d;

// Style difficult words
$border-radius-container: 20px;
$border-radius-input: 10px;
$background-word-container: white;
$border-color-buttons-game: rgba(53, 200, 147, 1);

// Tutorial
$border-radius-container: 20px;
$border-radius-input: 10px;
$background-word-container: white;
$border-color-buttons-game: rgba(53, 200, 147, 1);

// BackgroundImage
$backroundHeart: url('../../assets/svg/game-audio-call/Heart.svg');
$backroundFullHeart: url('../../assets/svg/game-audio-call/Heart-full.svg');

// Hover Image
$colorImageHover: invert(94%) sepia(13%) saturate(5200%) hue-rotate(328deg) brightness(108%) contrast(107%);
$colorImageHoverRed: invert(34%) sepia(86%) saturate(1309%) hue-rotate(334deg) brightness(95%) contrast(102%);

// Fonts
$fontMain: 'Inter', sans-serif;
$fontLogo: 'Itim';