// Color
$colorYellow: #FFD234;
$colorRed: #F5443B;
$colorWhite: #ffffff;
$colorBlack: #000000;
$colorDarkGreen: #035959;
$colorImageHover: invert(94%) sepia(13%) saturate(5200%) hue-rotate(328deg) brightness(108%) contrast(107%);;

// Fonts
$fontMain: 'Inter', sans-serif;
$fontLogo: 'Itim';