@import "../../../utils/scss/constants.scss";
@import "../../../utils/scss/mixin.scss";

.games {
  background: url('../../../assets/png/games-bg.png') 100% 100% no-repeat;
  background-size: cover;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.games-wrapper {
  @include flex();
  flex-direction: column;
  gap: 3em;

  @media(max-width: 555px) {
    width: 320px;
    padding: 0 5px 60px 5px;
  }
}

.game__image {
  @media(max-width: 555px) {
    width: 100%;
  }
}

.game {
  @include flex();
  gap: 10em;
  flex-wrap: wrap;

  @media (max-width: 1311px) {
    gap: 5em;
  }
}

.game__text {
  max-width: 53em;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.game__description {
  @include font(2.4rem, 400);
  color: $colorBlack;
}

.game-sprint {
  @media (max-width: 1261px) {
    flex-direction: column-reverse;
  }
}

.game-audio {
  @media (max-width: 1261px) {
    flex-direction: column;
  }
}
