@import "../../../utils/scss/constants.scss";
@import "../../../utils/scss/mixin.scss";

.wrapper-team {
  @include flex();
  flex-direction: column;
  gap: 30px;
}

.team-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.title-team {
  @include font(3.6rem, 600);
}

.team-item {
  background: linear-gradient(
    180deg,
    #79b0b0 -53.38%,
    rgba(121, 176, 176, 0.17) 100%
  );
  border: 3px solid #bceded;
  box-shadow: 15px 18px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.team-item-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 15px;
}

.image {
  width: 300px;
  height: 300px;
}

.role {
  @include font(1.2rem, 700);
  color: $colorRed;
}

.name {
  @include font(1.8rem, 600);
}

.action {
  color: rgba(0, 0, 0, 0.4);
  @include font(1.4rem, 400);
}

.github-link-team {
  margin: 0 auto;
}