@import '../../../utils/scss/constants.scss';
@import '../../../utils/scss/mixin.scss';

.footer {
  height: 140px;
  background: url('../../../assets/png/footer.png') 100% 100% no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}

.footer-wrapper {
  width: 100%;
  @include flex($justify: space-between);
}

.rs-container {
  @include flex();
  gap: 25px;
}

.github-item {
  @include flex();
  gap: 10px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    filter: $colorImageHover;
  }
}

.year {
  @include font(2.4rem, 400);
}

.github-wrapper {
  @include flex();
  gap: 25px;
}


.github-link {
  @include font(2.4rem, 400);
  color: $colorBlack;
}

.rs-image {
  background-image: url('../../../assets/svg/rss.svg');
  display: block;
  height: 51px;
  width: 149px;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    filter: $colorImageHover;
  }
}