$color: rgba(152, 221, 221, 1);

@import './utils/scss/constants.scss';
@import './utils/scss/mixin.scss';
@import '../src/modules/layouts/textBookChapter/textBookCharter.scss';
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  max-width: 1920px;
  margin: 0 auto;
  background-color: $colorWhite;
  font-family: $fontMain;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrapper {
  padding: 50px;
}

.btn {
  padding: 1em 2em;
  @include font(2rem, 700);
  border: none;
  border-radius: 0.6em;

  &_red {
    background-color: $colorRed;
    color: $colorWhite;
  }

  &_transparent {
    background-color: transparent;
    color: $colorRed;
    border: 2px solid $colorRed;
  }

  &:hover {
    @include hover();
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: $colorBlack;
  }
}

.title {
  @include font(4rem, 600);
}

.hide {
  display: none;

}