@import './utils/scss/constants.scss';
$color: rgba(152, 221, 221, 1);

body {
  background-color:$color;
}

ul {
@import './utils/scss/constants.scss';
@import './utils/scss/mixin.scss';
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  background-color: $colorBackground;
  font-family: $fontMain;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrapper {
  padding: 20px 120px;

  @media (max-width: 1000px) {
    padding: 20px;
  }
}

.hide {
  display: none;
}
